@using LB3.Models
@model List<LB3.Models.Entities.Human>
@{
    ViewBag.Title = "ListOfHumans";
}

<h2>Список людей</h2>

<div class="row">
    <div class="col-md-4"><strong>Наименование</strong></div>
    <div class="col-md-2"><strong>Возраст</strong></div>
    <div class="col-md-2"><strong>#</strong></div>
    <div class="col-md-2"><strong>#</strong></div>
    <div class="col-md-2"><strong>#</strong></div>
</div>
@foreach (var human in Model)
{
    { Html.RenderPartial("HumanOverviewPartial", human); }
}